extends layout

block content

	.container.four-o-four
		.row
	
			h3.not-found 
				| Woops. Nothing to see here. Why not 
				br 
				a(href="/") Create your own Preliminary Materials 
				| or 
				br
				a(href="/archive") See what others have made?

			