extends layout
block content
	.container.about
		.row
			.col-xs-12.col-md-6.col-md-offset-3
				p 
					|  2014
					br
					|  Algorithmic and digital mixed media
					br
					|  Concept: 
					|  <a href="https://www.facebook.com/salemy" target="_blank">Mohammad Salemy</a> 
					br
					|  Programming: 
					|  <a href="http://maninilchiani.com" target="_blank">Mani Nilchiani</a>
					br
					|  Text preparation: Daniel Piñero
					br
					|  Dedicated to Jaleh Mansoor
					br
					|  Special thanks to Molly Kleiman  
					br
					br
					br
					|  A specter is haunting the space of knowledge — the specter of telecomputation. Today, it is almost impossible to ignore how a steady and gradual synthesis of mass telecommunication and mass computation has enabled a new kind of collaborative production of knowledge by humans and machines unseen in history. However, on the art's front, the picture is not so promising since instead of ushering a new era, the proliferation of networked, digital and algorithmic knowledge has mostly undermined the place of art both within the world of creativity and the larger context of social life. Overall, these changes are threatening the exclusivity of humans' conscious and embodied experience of time which is emblematized by their relationship to art. What's agonizing for a large number of artists, critics and curators today is how various human-centered or -mediated epistemologies are gradually declining and giving way to a new paradigm in which, not only images and art but also the whole physical universe can only be approached as cybernetically related and algorithmically relevant fragments of information constantly mediated by machines.
					|  Preliminary Notes on Any Theory is an algorithmic web site that allows users to produce and share online their own contemporary art related "critical theory" by changing a few parameters within a selection of one of Tiqqun's seminal texts titled Preliminary Materials for a Theory of the Young Girl. The work uses an accelerationist strategy in a humorous way to react to the computational mode of knowledge production and the crisis it has caused for the production of knwoledge in general and contemporary art in particular. Translated by Ariana Reines, the excerpts used in the project was first published online by New York's Triple Canopy collective in 2012. The complete translation was published later on in the same year by Semiotexte.
