extends layout

block content
	.container.archive
		.row
			each entry in entries
				.col-md-3.col-xs-6
					.thumbnail
						.date= entry.createdAtPretty
						.author= entry.lastName
						img(data-src="#{entry}" , alt="")
						h3.title= entry.title
						a(href= entry.pdfPath+entry.pdfFileName) pdf link 
						

					