extends layout

block content
	.container.archive
		.row
			each entry in entries
				.col-md-3.col-xs-6
					.date= entry.createdAtPretty
					.author= entry.lastName
					h3.title= entry.title
					a.thumbnail(href="#")
						img(data-src="./public_html/pdf/thumbmails/Nilchiani-Mani-preliminatyMaterialsForTheTheoryOf-Blue-Ribbon_t9hNW.png" , alt="")
						


					