doctype html
html(lang='en')
  head
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Preliminary Materials for Any Theory
    style(type='text/css').
      *, *:before, *:after {
        -webkit-box-sizing: border-box; 
        box-sizing: border-box;
      }
      html {
        margin: 0;
        padding: 0;
      }
      body {
        margin: 0;
        padding: 0; 
        height: 9.79in;
        width: 6.2in;        
      }
      .cover {
        background-color: rgb(237,69,95); 
        overflow: hidden;
      }
      .page {
        height: 9.79in;
        width: 6.2in; 
        position: relative;
        page-break-after: always;
      }
      .page>p {

      }
      .sans-serif {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      }
      .serif {
        font-family: serif;
      }
      .author {
        margin-top: 75px;
        margin-left: 60px;
        font-weight: normal;
        font-size: 14pt;
        padding-bottom: 10px;
        border-bottom: 1px solid white;
        display: inline-block;
        color: white;
      }
      .title {
        margin-left: 60px;
        margin-top: 150px;
        font-weight: normal;
        font-size: 18pt;
        color: white;
      }
      .subtitle {
        margin-left: 60px;
        margin-top: 25px;
        font-size: 30pt;
        font-weight: normal;
        color: white;
      }
      .cover .footer{
        white-space:pre;
        color: white;
        position: absolute;
        bottom: 50px;
        left: 60px;
      }
      .manifesto {
        
      }
      .graphic {
        display: block;
        height: 9.79in;
        width: 6.2in;
      }
      .page.text {
        padding: 70px 100px;
        font-size: 14px!important;
        font-family: serif!important;
      }
      .page.text p {
        font-family: serif!important;
        color: rgb(80,80,80);
        text-align: justify;
        line-height: 1.2;
        font-size: 18px;
      }
      .page.text h1 {
        font-size: 20px;
        text-align: center;
      }

  body

    .page.sans-serif.cover
      h3.author= name
      h1.title Preliminary Materials For
      h2.subtitle Any Theory
      .footer
        |  semiotext(e) 
        |  interventios 
        |  series 12 
    .page.sans-serif
        img.graphic(src="file://localhost/Users/maniart/Dropbox/projects/webapp-pmfat/public/images/graphic.jpg") 
    .page.serif.text
      h1 I
      p
        |  Behind the hypnotized grimaces of official pacification there is a war. We can no longer merely call it economic, or social, or humanitarian. It has become total. By now everyone has felt their existence becoming a battlefield on which neuroses, phobias, somatizations, depression, and anxiety each beat their respective retreats; yet nobody has managed to grasp the meaning of their trajectory or what is really at stake. Paradoxically, it is the total nature of this war—total in its means no less than its ends—that has allowed it to cloak itself in such invisibility.
        |  Empire prefers quiet methods over open offensives: chronic prevention, the molecular diffusion of constraint into everyday life. Here, internal police run relay for the generalized police state, just as individual self-control does for social control. Ultimately, it’s the omnipresence of the new police that has made them undetectable.     
      h1 II
      p
        |  What is at stake in the current war are forms-of-life, which is to say, for Empire, the selection, management, and attenuation of same. Empire’s stranglehold over the public articulation of desires, the biopolitical monopoly on all medical know-how, the constraint of all deviance by an army ever better equipped with psychiatrists, coaches, and other benevolent “facilitators,” the aesthetico-detective filing of each individual according to her/his biological determinations, to the ever more imperative and detailed surveillance of behavior, the proscription against “violence” in the plebiscite, It is a matter of breathing and of the fullness of all passions. All this enters into the anthropological project, or rather the anthropotechnical project of Empire. It is a matter of profiling its citizens.
        |  The vanquished in this war are not so much citizens as those who, though denying its reality, have capitulated to it totally: What THEY allow to the vanquished, in the guise of “existence,” is nothing but a lifelong struggle to render themselves compatible with Empire. But for the others, for us, our every gesture, our every desire, our every affect encounters, at whatever distance, the need to annihilate Empire and its citizens. It is a matter of breathing and of the fullness of all passions. We have time on this criminal path; nothing is forcing us to seek direct confrontation. That would be proof of weakness. Assaults will be launched, however, assaults that will be less important than the position from which they will originate, for our assaults mine Empire’s forces just as our position mines its strategy. Accordingly, the more Empire will seem to be accumulating victories, the deeper it will bury itself in defeat, and the more this defeat will become irremediable. Imperial strategy consists first of organizing the blindness of forms-of-life and their illiteracy when it comes to ethical differences, of rendering the battlefield difficult to distinguish if not invisible, and, in the most critical cases, of covering the real war in makeup via all manner of false conflicts.
        |  Retaking the offensive for our side is a matter of making the battlefield manifest. The figure of the Protagonist is a vision machine conceived to this effect. Some will use it to account for the massive character of hostile occupation forces in our existences; others, more vigorous, will use it to determine the speed and direction of their progression. By what each individual does with PPP we can see what AP deserves.  